@charset "UTF-8";

* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}


body,
html {
    background-color: lightgrey;
}

header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.881), rgba(128, 128, 128, 0))
}

header>h1 {
    color: white;
    padding: 10px;
    text-align: center;
    font-size: xx-large;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.56);
}

i#burguer {
    background-color: rgb(75, 74, 74);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;
}

menu>ul {
    list-style-type: none;
    
}

menu>ul>li>a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.387);
    background-color: rgba(0, 0, 0, 0.72);
    color: white;
    
    
}

menu>ul>li>a:hover {
    background-color: gray;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.464);
}

article>h2 {
    padding-bottom: 20px;
}

article>p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

footer {
    background-color: black;
    color: rgba(255, 255, 255, 0.641);
    text-align: center;
    font-size: small;
    margin-top: 20px;
    padding: 5px;
    position: absolute;
    width: 100%;
}