@charset "UTF-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: 'Arial';
    color: rgb(246, 190, 4);
}

nav {
    display: flex;
    justify-content: flex-end; /* Align the links to the right */
    background-color: #efb44f; /* Dark background color */
    padding: 4px 0; /* Some padding above and below the links */
}
.nav-link {
    font-family: 'Arial';
    color: rgb(0, 0, 0);
    text-decoration: none; /* Remove underline from links */
    margin: 0 15px; /* Add some space between the links */
    font-size: 18px; /* Increase font size */
}
.nav-link:hover {
    color: #ddd; /* Lighter text color on hover */
}

body {
    background-color: #f5f5f5; 
}
div.container {
    display: flex;
    flex-wrap: wrap; /* Allow the items to wrap onto multiple lines if necessary */
}
div.item {
    background-color: gray;
    color: #ddd;
    height: 80px; 
    width: 80px;
    margin: 20px;
    flex:auto;
    text-align: center;
}

/* Responsive styles */
@media (max-width: 600px) {
    div.container {
        flex-direction: column; /* Stack the items vertically on small screens */
    }
    div.item {
        width: 100%; /* Allow the items to take up the full width on small screens */
    }
}